.abt-con {
  background: linear-gradient(
    to right,
    var(--clr-light-orange),
    var(--clr-dark-orange)
  );
  padding: 1rem;
  width: 100%;
  height: auto;
}

.abt-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.abt-brief {
  font-size: 2rem;
  color: var(--clr-white);
  position: relative;
}

.abt-brief::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: var(--clr-white);
  top: 48%;
  left: -4rem;
}

.abt-brief::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: var(--clr-white);
  top: 48%;
  left: 11rem;
}

.abt-title {
  font-size: 3.6rem;
  margin: 0;
  margin-top: -4rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.abt-para {
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* xs */
@media (min-width: 475px) {
  .abt-para {
    font-size: 1rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .abt-para {
    font-size: 1.2rem;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .abt-para {
    font-size: 1.5rem;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
