.prof-main-con {
  background: linear-gradient(
    to right,
    var(--clr-light-orange),
    var(--clr-dark-orange)
  );
  padding: 1rem;
}

.prof-top {
  margin: 3rem 0;
  position: relative;
}

.prof-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0.4;
  margin: 0;
}

.prof-p {
  text-align: center;
  color: var(--clr-white);
  font-family: "Ubuntu";
}

.main-map {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 3rem;
  gap: 5px;
}

/* xs */
@media (min-width: 475px) {
  .prof-title {
    font-size: 3rem;
  }

  .prof-p {
    position: relative;
    text-align: center;
    font-size: 2rem;
    margin: 0;
  }

  .prof-p::after {
    width: 0;
  }

  .main-map {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* sm */
@media (min-width: 640px) {
  .prof-title {
    font-size: 4.2rem;
  }

  .main-map {
    place-items: center;
  }
}

/* md */
@media (min-width: 768px) {
  .prof-title {
    font-size: 5.2rem;
  }

  .main-map {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* lg */
@media (min-width: 1024px) {
  .prof-title {
    font-size: 6.2rem;
  }

  .main-map {
    grid-template-columns: repeat(3, 1fr);
  }

  .prof-p {
    position: absolute;
    top: 30%;
  }

  .prof-p::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 4px;
    background-color: var(--clr-white);
    top: 50%;
    right: -4.9rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .prof-title {
    font-size: 8rem;
  }

  .prof-p {
    top: 37%;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
