.about-sec-container {
  background: linear-gradient(
    to right,
    var(--clr-dark-orange),
    var(--clr-light-orange)
  );
  padding: 1rem;
  padding-bottom: 3rem;
  margin-bottom: 1rem;
}

.about-sec-container h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 1rem;
  color: var(--clr-grey);
}

.main-ab-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ab-image {
  height: 50vh;
  background-color: var(--clr-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-place {
  background-color: var(--clr-grey);
  height: 43vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-place img {
  width: 100%;
  padding: 1rem;
}

.ab-info {
  margin-top: 2rem;
  margin-left: -5.5rem;
}

.ab-title {
  color: var(--clr-blue);
  font-size: 1.5rem;
  position: relative;
}

.ab-title::after {
  content: "";
  position: absolute;
  background-color: var(--clr-blue);
  width: 40px;
  height: 2px;
  top: 52%;
  margin-left: 4px;
}

.ab-btn {
  margin-top: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  width: 180px;
  cursor: pointer;
}

.ab-btn::after {
  content: "";
  position: absolute;
  background-color: var(--clr-black);
  width: 70px;
  height: 2px;
  top: 50%;
  margin-left: 4px;
}

.ab-btn:hover {
  color: var(--clr-white);
  background: linear-gradient(
    to right,
    var(--clr-dark-orange),
    var(--clr-blue)
  );
  transition: all 0.3s ease-in-out;
}

.ab-btn:hover::after {
  content: "";
  position: absolute;
  background-color: var(--clr-white);
  width: 70px;
  height: 2px;
  top: 50%;
  margin-left: 4px;
  transition: all 0.3s ease-in-out;
}

/* xs */
@media (min-width: 475px) {
  .about-sec-container h1 {
    font-size: 3rem;
  }

  .main-ab-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .ab-image {
    width: 100%;
    height: 60vh;
  }

  .image-place {
    height: 50vh;
  }
}

/* sm */
@media (min-width: 640px) {
  .about-sec-container h1 {
    font-size: 4.5rem;
  }

  .ab-image {
    width: 100%;
    height: 80vh;
  }

  .image-place {
    height: 70vh;
  }
}

/* md */
@media (min-width: 768px) {
  .about-sec-container h1 {
    font-size: 5.5rem;
  }

  .image-place img {
    width: 80%;
  }
}

/* lg */
@media (min-width: 1024px) {
  .about-sec-container h1 {
    font-size: 6.8rem;
  }

  .main-ab-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .ab-image {
    width: 50%;
  }
}

/* xl */
@media (min-width: 1280px) {
  .main-ab-container {
    margin-top: -5rem;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
