.hero-sec {
  background-color: var(--clr-white);
}

.hero {
  margin: 1rem 0;
  text-align: center;
}

.top-head {
  font-weight: 300;
  position: relative;
  margin-bottom: 0;
}

.mid-head {
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  background: linear-gradient(
    to right,
    var(--clr-dark-orange),
    var(--clr-blue)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.low-head {
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 800;
}

.card-main-con {
  margin-bottom: 2rem;
}

/* xs */
@media (min-width: 475px) {
  .top-head {
    font-size: 1.2rem;
  }

  .mid-head {
    font-size: 2.5rem;
  }

  .low-head {
    font-size: 1rem;
  }

  .card-main-con {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    padding: 0 1rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .top-head {
    font-size: 1.4rem;
  }

  .mid-head {
    font-size: 3.4rem;
  }

  .low-head {
    font-size: 1.3rem;
  }
}

/* md */
@media (min-width: 768px) {
  .top-head {
    font-size: 1.4rem;
  }

  .mid-head {
    font-size: 3.4rem;
  }

  .low-head {
    font-size: 1.3rem;
  }

  .card-main-con {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .top-head {
    font-size: 1.6rem;
  }

  .mid-head {
    font-size: 5.4rem;
  }

  .low-head {
    font-size: 1.7rem;
  }

  .card-main-con {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* xl */
@media (min-width: 1280px) {
  .card-main-con {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .hero {
    margin: 1rem 0;
    text-align: center;
  }

  .top-head {
    font-size: 1.75rem;
    font-weight: 300;
    position: relative;
    margin-bottom: 0;
  }

  .mid-head {
    font-size: 11rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    background: linear-gradient(
      to right,
      var(--clr-dark-orange),
      var(--clr-blue)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .low-head {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 800;
  }

  .main-con {
    display: flex;
    justify-content: center;
  }
}
