.imp-main-con {
  background: linear-gradient(
    to right,
    var(--clr-light-orange),
    var(--clr-dark-orange)
  );
}

.imp-top-con {
  text-align: center;
  position: relative;
}

.imp-title {
  font-weight: 900;
  opacity: 0.4;
  margin: 0;
  text-transform: uppercase;
}

.mid-title {
  font-weight: 600;
  margin: 0;
}

.low-title {
  margin: 0;
  margin-top: -0.4rem;
  color: var(--clr-white);
}

/* xs */
@media (min-width: 475px) {
  .imp-title {
    font-size: 3rem;
  }

  .mid-title {
    margin: 0;
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
  }

  .low-title {
    margin-top: 2rem;
    font-size: 2rem;
  }

  .imp-p {
    text-align: center;
  }
}

/* sm */
@media (min-width: 640px) {
  .imp-title {
    font-size: 4rem;
  }

  .mid-title {
    font-size: 2rem;
    margin-top: 1.6rem;
  }

  .low-title {
    font-size: 2.5rem;
  }

  .imp-p {
    font-size: 1.3rem;
  }
}

/* md */
@media (min-width: 768px) {
  .imp-title {
    font-size: 5rem;
  }

  .mid-title {
    font-size: 2rem;
    margin-top: 1.6rem;
  }

  .low-title {
    margin-top: 1rem;
    font-size: 3.5rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .imp-title {
    font-size: 6rem;
  }

  .mid-title {
    position: absolute;
    top: 14%;
    left: 43.8%;
  }

  .low-title {
    margin-top: -1rem;
    font-size: 3.5rem;
  }

  .mid-title::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: var(--clr-black);
    top: 50%;
    left: -36%;
  }

  .mid-title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: var(--clr-black);
    top: 50%;
    left: 106%;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
