.port-main-con {
  margin-top: 2rem;
  background: linear-gradient(
    to right,
    var(--clr-dark-orange),
    var(--clr-light-orange)
  );
}

.port {
  position: relative;
  text-align: center;
}

.p-title {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  opacity: 0.7;
  margin-bottom: 2rem;
}

.p-text {
  position: absolute;
  top: 40%;
  left: 45%;
  text-transform: capitalize;
  color: var(--clr-white);
  font-size: 1.3rem;
  display: none;
}

.port-title {
  text-align: center;
  margin: 0;
  margin-top: -2rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
}

.port-card-main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

/* xs */
@media (min-width: 475px) {
  .p-title {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .port-title {
    font-size: 1rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .p-title {
    font-size: 5rem;
  }

  .port-title {
    font-size: 1.3rem;
  }
}

/* md */
@media (min-width: 768px) {
  .p-title {
    font-size: 6rem;
  }

  .port-title {
    font-size: 1.6rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .p-title {
    font-size: 7rem;
  }

  .p-text {
    display: block;
  }

  .p-text::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: var(--clr-white);
    top: 45%;
    left: -2.9rem;
  }

  .p-text::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: var(--clr-white);
    top: 45%;
    left: 5.7rem;
  }

  .port-title {
    font-size: 1.9rem;
  }

  .port-card-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* xl */
@media (min-width: 1280px) {
  .port-card {
    /* background-color: red; */
    margin: 0 2rem;
    padding: 10px;
  }

  .port-card-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
