.serv-sec-con {
  padding: 1rem;
}

.sec-con-title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--clr-blue);
  text-align: center;
  position: relative;
}

.serv-head {
  position: relative;
}

.bold-title {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0.1;
}

.serv-offer {
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  font-weight: 700;
  position: absolute;
  top: 34%;
}

.sec-card {
  /* background-color: green; */
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  margin-top: 7rem;
}

.s-btn {
  margin: 2rem 0;
  text-align: end;
  margin-right: 4rem;
}

.servsec-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  width: 200px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.servsec-btn:hover {
  background-color: var(--clr-black);
  color: var(--clr-dark-orange);
}

.servsec-btn:hover::after {
  width: 0;
}

.servsec-btn::after {
  content: "";
  position: absolute;
  background-color: var(--clr-black);
  width: 60px;
  height: 3px;
  top: 45%;
  left: 11.3rem;
}

/* xs */
@media (min-width: 475px) {
  .bold-title {
    font-size: 5rem;
  }

  .serv-offer {
    font-size: 1rem;
    top: 22%;
  }

  .servcard-con {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .sec-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}

/* sm */
@media (min-width: 640px) {
  .bold-title {
    font-size: 6rem;
  }
}

/* md */
@media (min-width: 768px) {
  .bold-title {
    font-size: 7rem;
  }

  .serv-offer {
    font-size: 1rem;
    top: 30%;
  }

  .sec-card {
    grid-template-columns: repeat(2, 1fr);
    place-items: start;
  }

  .servcard-con {
    display: inline-block;
    width: 260px;
    margin-right: 50px;
    justify-content: center;
  }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {
  .sec-card {
    grid-template-columns: repeat(3, 1fr);
    place-items: start;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
