.card {
  height: auto;
  background-color: var(--clr-light-orange);
  color: var(--clr-white);
  padding: 0.5rem;
  margin: 2px;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  text-transform: uppercase;
}

/* xs */
@media (min-width: 475px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}

/* sm */
@media (min-width: 640px) {
  .card {
  }
}

/* md */
@media (min-width: 768px) {
  .top-container {
    width: 380px;
  }

  .card {
    width: 98%;
  }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {
  .card {
    width: 550px;
    margin: 0 40px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .card {
    width: 370px;
    margin: 0 5px;
  }
}
