.foot-sec {
  width: 100%;
  background-color: var(--clr-grey);
}

.foot-container {
  padding: 3rem 1rem 1rem;
  background-color: var(--clr-grey);
}

.box-container .boxes {
  background-color: var(--clr-light-black);
  padding: 10px;
  margin-right: 20px;
  border-radius: 1%;
  color: var(--clr-white);
  margin-bottom: 10px;
}

.box-container .boxes .box-image img {
  padding: 5px;
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: var(--clr-white);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 2rem 0;
}

.footer-text-1 {
  margin: 2rem 0;
  font-weight: 100;
}

.sec-box_container {
  padding: 1rem;
}

.foot-title {
  color: var(--clr-dark-orange);
  position: relative;
  margin-bottom: 2rem;
}

.foot-title::after {
  content: "";
  position: absolute;
  background-color: var(--clr-dark-orange);
  width: 70px;
  height: 3px;
  top: 50%;
  margin-left: 5px;
}

.foot-links li {
  margin-bottom: 8px;
}

.foot-links li a:is(:active, :focus, :visited) {
  color: var(--clr-white);
}

.foot-links li a:visited {
  color: var(--clr-light-orange);
}

.foot-links li a {
  color: var(--clr-white);
}

.foot-links li a:hover {
  color: var(--clr-blue);
  transition: all 0.2s ease-in-out;
}

.foot-email {
  margin-left: 10px;
}

.foot-email p {
  color: var(--clr-grey);
}

.foot-icons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 1rem;
}

.foot-end {
  font-size: 10px;
  text-align: center;
  color: var(--clr-white);
  margin-top: 2rem;
}

/* xs */
@media (min-width: 475px) {
  .box-container .boxes {
    width: 465px;
    background-color: var(--clr-light-black);
    padding: 10px;
    margin-right: 20px;
    border-radius: 1%;
    color: var(--clr-white);
  }

  .box-container {
    display: flex;
    flex-direction: column;
  }

  .box-container .boxes {
    margin-bottom: 10px;
    width: 450px;
  }
}

/* sm */
@media (min-width: 640px) {
  .foot-end {
    font-size: 0.9rem;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .box-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .foot-end {
    font-size: 1.2rem;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
