.details {
  margin-top: -4rem;
}

.details h4 {
  margin-bottom: -1.5rem;
}

.social-media img {
  margin-left: 0.5rem;
}

.social-media {
  margin-left: 3rem;
  margin-top: -2rem;
}

.det {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}

.card-con {
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.offers {
  margin-right: 2rem;
}

.contact-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last {
  margin-bottom: 2rem;
}

.first-card {
  background: orange;
}
