.pcard-con {
  background-color: var(--clr-grey);
  width: 300px;
  height: 440px;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease;
}

.pcard-con:hover {
  background-color: var(--clr-white);
}

.pcard-title {
  text-transform: uppercase;
}

.pcard-msg {
  text-align: left;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .pcard-con {
    width: 360px;
    height: 390px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .pcard-con {
    width: 320px;
    height: 420px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .pcard-con {
    width: 490px;
    height: 300px;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
