.main2 {
  justify-content: center;
}

.main-card {
  padding: 1rem;
  margin-bottom: -1rem;
}

.card-container {
  width: 300px;
  height: 380px;
  background-color: #333;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

.card-image {
  margin-bottom: -1rem;
}

.card-image img {
  background-color: orange;
  padding: 5px;
  border-radius: 30% 0;
}

.card-title {
  text-transform: capitalize;
}

.card-btn {
  background-color: orange;
  font-size: 1.01rem;
  font-weight: 600;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 0 70px;
  cursor: pointer;
}

.Bcontain {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

/* 1xs */
@media (min-width: 320px) {
  .Bcontain {
    display: grid;
    grid-template-columns: repeat(1, 310px);
  margin-left: -1.1rem;
  }
}
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) { .Bcontain {
  display: grid;
  grid-template-columns: repeat(2, 310px);
  
}}

/* md */
@media (min-width: 768px) {
  .Bcontain {
    display: grid;
    grid-template-columns: repeat(2, 310px);
    
  }
}

/* 2md */
@media (min-width: 900px) {
  .Bcontain {
    display: grid;
    grid-template-columns: repeat(2, 310px);
    
  }
}

/* 1lg */
@media (min-width: 1024px) {
  .Bcontain {
    display: grid;
    grid-template-columns: repeat(3, 310px);
  
  }
}
/* 2lg */
@media (min-width: 1200px) {
  .Bcontain {
    display: grid;
    grid-template-columns: repeat(3, 310px);
    margin: 0 auto;
  }
}

/* xl */
@media (min-width: 1280px) {
  .Bcontain {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    margin: 0 auto;
  }
}

/* 2xl */
@media (min-width: 1440px) {
  .Bcontain {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    margin: 0 auto;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .Bcontain {
    display: grid;
    grid-template-columns: repeat(5, 310px);
  }
}

/* 3xl */
/* @media (min-width: 2560px) {} */
