:root {
  /* colors */
  --clr-blue: #0000ff;
  --clr-light-orange: #ffa500;
  --clr-dark-orange: #f4a261;
  --clr-grey: #808080;
  --clr-black: #000000;
  --clr-light-black: #333333;
  --clr-white: #ffffff;

  /* backgrouds */
  --bg-drk-lgt: linear-gradient(
    to right,
    var(--clr-dark-orange),
    var(--clr-light-orange)
  );
  --bg-lgt-drk: linear-gradient(
    to right,
    var(--clr-light-orange),
    var(--clr-dark-orange)
  );
  --bg-lgt: linear-gradient(to right, var(--clr-white), var(--clr-white));
  --bg-gry: linear-gradient(to right, var(--clr-grey), var(--clr-grey));
}
